.fondo{
    background-color: silver;
    margin:0px;
    padding: 0px;
    display: flex;
    justify-content: center;

  
    }

.foto{
    width: 300px;
    height: auto;
 
}

.texto{
    width: 300px;
    height: auto;
}